/* Variables */
:root{
    --verde: #5b9407;
    --morado: #4D43A4;
    --azul: #367AB8;
    --negro: rgb(26, 25, 25);
    --gris: rgb(238, 234, 234);
    --blanco: #fff;
    --grisDesactivado : #ADB4BA;
}
/* Globales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
a{
    text-align: none;
    color: var(--negro);
}
main{
   background-color: var(--negro); 
   height: 100vh;
}
[class$="__contenedor"]{
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
}
[class$="__formulario"]{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--blanco);
    max-width: 30rem;
    height: 40rem;
    border-radius: .5rem;
    padding: 1rem 2rem 4rem 2rem;
    margin: 0 auto;
}
@media (min-width: 992px) { 
    [class$="__formulario"]{
        max-width: 50rem;
    }
}
button{
    border: none;
    background-color: var(--verde);
    transition: .4s ease;
    padding: .5rem 2.5rem;
    color: var(--blanco);
    border-radius: .5rem;
    font-size: 1.7rem;
    font-weight: 700;
}
button:hover{
    cursor: pointer;
    background-color: #457004;
}
img{
    width: 100%;
    max-width: 1.6rem;
    height: auto;
}
i{
    font-size: 2.5rem;
}
/* Utilidades */
.hidden{
    display: none;
}
/* Estilos de las alertas */
.alerta{
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    color: var(--blanco);
    margin: 2rem 0;
}
.error{
    background-color: rgb(201, 16, 16);
}
.success{
    background-color: var(--verde);  
}
/* Estilos */
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.contenido__progreso{
    margin: 1rem auto;
    padding: 1rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 500000;
}
.contenido__progreso::before{
    content: '';
    position: absolute;
    background-color: var(--grisDesactivado);
    top: 50%;
    left: 10;
    text-align: center;
    transform: translateY(-50%);
    height: .2rem;
    width: 80%;
    z-index: -1;
    transition: .4s ease;
}
@media (min-width: 992px) { 
    .contenido__progreso::before{
        left: 28px;
        width: 90%;
    }
}
.contenido__icono{
    background-color: var(--negro);
    color: var(--gris);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    border: 3px solid var(--grisDesactivado);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
}
.contenido__icono-activo{
    color: var(--verde);
    border: 3px solid var(--verde);
}
.contenido__avance{
    position: absolute;
    background-color: var(--verde);
    top: 50%;
    left: 15;
    transform: translateY(-50%);
    height: .5rem;
    width: 0%;
    max-width: 90%;
    z-index: -1;
    transition: .4s ease;
}
@media (min-width: 992px) { 
    .contenido__progreso{
        max-width: 80%;
    }
    .contenido__avance{
        max-width: 90%;
    }
}
.contenido__icono-activo{
    color: var(--verde);
}
.contenido__heading{
    text-align: center;
    color: var(--blanco);
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    font-weight: 600;
}
/* Estilos del formulario */
.formulario__legend{
    text-align: center;
    text-transform: uppercase;
    color: var(--azul);
    font-weight: 500;
}
.formulario__span{
    color: var(--negro);
}
.formulario__campo{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.formulario__label{
    font-weight: 400;
    font-size: 1.5rem;
}
.formulario__input{
    width: 70%
}
@media (min-width: 992px) { 
    .formulario__input{
        width: 80%;
    }
}
.contenido__despedida{
    text-align: center;
    color: var(--blanco);
}